.postMainDiv {
  background-color: #121212;
  color: #f5f5f5;
  height: 100vh;
  width: 100%;
}

.Navbar {
  background-color: #121212;
  color: #f5f5f5;

  height: 50px;
  text-align: center;
  padding: 10px;
  position: sticky;
  padding-left: 30px;
  padding-right: 30px;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.textSocial {
  /* border: 1px solid green; */
  font-size: 20px;
  font-weight: 500;
}
.NavbarOtherSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid blue; */
  width: 800px;
}

.socialNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 1px solid blue; */
  width: 200px;
  /* padding-right:30px ; */
}

.SearchInput {
  display: flex;
  width: 350px;
  height: 100%;
  color: #f5f5f5;
  padding-left: 20px;
  gap: 5px;
  border-radius: 6px;
  padding: 8px;
  border-bottom: 1px solid #f5f5f5;

  /* border: 1px solid green; */
  /* background-color: #f5f5f5f4; */
}

.SearchInput input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  /* background-color: #f6f6f6; */
  color: #f5f5f5;
  background-color: #121212;
}

.messageIcon {
  padding-top: 4px;
  color: #f5f5f5;
  height: 100%;
}

.hovericon:hover {
  border: 1px solid #f5f5f5;
}

.postBox {
  width: 1600px;
 text-align: center;
  margin: auto;
  margin-top: 30px;
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: 1px solid red;
}
.containerCardPost{
  border:1px solid red;
  width: 500px;
  display: flex;
  justify-content: center;
  height: 100%;

}
.cardPost{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap:20px;
  width: 400px;
}

.cardContent{
  /* border: 1px solid red; */
  margin-top: 10px;
}
.cardIcon{
  display: flex;
  /* border:1px solid red; */
  width:60px;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 10px;
}
.likeCommentText{
  width:260px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}
.commentShowWrapper{
  border:"1px solid red";
  width:400px;
  height:400px

}